body{
    background-color: #9A9A9A;
    margin: 0px;
}
#brand{
    text-align: center;
    width:40%;
    float: left;
    color: cornsilk;
    line-height: 70px;
}
h2{
    font-family:'Roboto',sans-serif;
}
h2, h4 {
    margin: 0px;
}
 .card{
    background-color: #FFFFFF;
}
.header{
    position:sticky;
    top: 0px;
    height: 70px;
    background-color: black; 
}
.container {
    display: flex;
}
.leftcontent{
    padding: 5px;
    width: calc(70% - 10px);
    float:left; 
}
.rightcontent{
   padding: 5px;
   width:calc(30%- 10px);
    float:right;
}
.card{
    margin:15px 0px;
    padding:10px;
}
img {
   width:100%; 
}
button{
    background-color: #9A9A9A;
    font-size: large;
}
.right-sticky {
    position: sticky;
    top: 40px;
}
#footer{
    text-align: center;
    background:black ;
    color:cornsilk;
    margin-top: 30px;
    padding: 20px;
   }